.featured-movie {
  background-color: #1f1f1f;
  font-family: 'Work Sans', sans-serif;
}

.movie-list {
  height: 95vh;
  max-height: 700px;
  background-color: #1f1f1f;
  border-radius: 0 0 3rem 3rem;
  box-shadow: black 0.25rem 0rem 1rem;
  position: relative;

  .movie-image {
    position: relative;
    width: 100%;
    height: inherit;
    max-height: 700px;
    object-fit: cover;
    opacity: 80%;
    border-radius: inherit;
  }

  .movie-detail {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 100%;
  }

  .movie-component {
    position: absolute;
    left: 3rem;
    top: 50%;
    transform: translate(0, -70%);
  }

  .movie-logo {
    width: 28rem;
    height: 10rem;
    object-fit: contain;
  }

  .play-button {
    background-color: #960019;
    border: none;
    text-wrap: nowrap;

    .play-icon {
      width: 1.25rem;
    }
  }

  .play-button:hover {
    background-color: #560714;
  }

  .btn-check:checked + .btn,
  .btn.active,
  .btn.show,
  .btn:first-child:active,
  :not(.btn-check) + .btn:active {
    background-color: #40030d;
  }

  .movie-order {
    position: absolute;
    bottom: 1rem;
    right: 6rem;
    z-index: 10;
    height: fit-content;
    list-style: none;
    color: white;

    > li {
      cursor: pointer;
      width: 4rem;
      height: 3rem;
      border-radius: 50%;
      margin: 0 0.25rem;
      display: flex;
      align-self: baseline;
      font-size: 2rem;
      justify-content: center;

      &.active {
        font-size: 4rem;
        width: 5rem;
        color: #960019;
        text-shadow: black 0.1rem 0.1rem 0.2rem;
      }
    }
  }

  .arrow-icon {
    cursor: pointer;
    position: absolute;
    bottom: 2rem;
    width: 3rem;
    height: auto;
    color: white;

    &.arrow-icon-left {
      right: 29.5rem;
    }

    &.arrow-icon-right {
      right: 3rem;
    }
  }

  .movie-caption {
    position: absolute;
    z-index: 1020;
    top: 35%;
    left: 8%;
    width: 40%;

    .movie-title {
      font-weight: bolder;
      font-size: 4rem;
      color: #dde6ed;
      text-shadow: 0.2rem 0.2rem 0.5rem black;
    }

    .movie-description {
      color: #dde6ed;
      text-shadow: 0.2rem 0.2rem 0.5rem black;
    }
  }

  .carousel-control-prev,
  .carousel-control-next {
    width: 5%;
  }
}

@media screen and (max-width: 767px) {
  .movie-list {
    .movie-component {
      padding: 1.5rem;
      left: 0;
      transform: translate(0, 0%);
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    .movie-logo-container {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 17rem;
      height: 5rem;
    }

    .movie-logo {
      width: inherit;
      height: inherit;
    }

    .movie-item {
      .movie-caption {
        top: 50%;
        left: 8%;
        width: 85%;

        .movie-title {
          font-size: 2rem;
        }
      }
    }
  }
}
