.navigation {
  padding: 0rem 1rem !important;
  position: absolute !important;
  background-image: linear-gradient(black, transparent);
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1020;
  font-family: 'Work Sans', sans-serif;
}

.nav-row {
  width: 100% !important;
}

.nav-icon {
  width: 2.5rem;
  height: 2rem;
  transform: rotate(0deg);
  transition: 0.5s ease-in-out;
  cursor: pointer;
  position: relative;
  z-index: 1100 !important;

  span {
    display: block;
    position: absolute;
    height: 0.35rem;
    width: 2.5rem;
    background: #960019;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: 0.25s ease-in-out;
    transform-origin: left center;
  }

  span:nth-child(1) {
    top: 0rem;
  }

  span:nth-child(2) {
    top: 0.75rem;
  }

  span:nth-child(3) {
    top: 1.5rem;
  }

  &.open {
    span:nth-child(1) {
      transform: rotate(45deg);
    }

    span:nth-child(2) {
      opacity: 0;
    }

    span:nth-child(3) {
      top: 1.75rem;
      transform: rotate(-45deg);
    }
  }
}

.brand {
  font-family: 'Bebas Neue', sans-serif;
  font-size: 2rem !important;
}

.menu {
  display: inline-flex;
  justify-content: start;

  .menu-toggle {
    position: relative;
    border: 0;
    background-color: transparent !important;
    color: gray !important;
    padding: 0 1rem !important;

    .menu-dropdown {
      display: none;
      position: absolute;
      top: 120%;
      width: max-content;
      padding: 0.5rem;
      background-color: gray;
      border-radius: 0 0.5rem 0.5rem 0.5rem;
      transform-origin: top center;
      animation: growDown 0.3s ease-out;

      .menu-link {
        padding: 0.25rem 1rem !important;
        color: white;
      }
    }

    &.active {
      &::after {
        content: '';
        display: block;
        width: 0;
        height: 0;
        position: absolute;
        top: 100%;
        border-right: 15px solid transparent;
        border-bottom: 10px solid gray;
      }

      .menu-dropdown {
        display: block;
      }
    }
  }

  .menu-link {
    position: relative;
    padding: 1.5rem;
    font-weight: 500;
  }

  @keyframes growDown {
    0% {
      transform: scaleY(0);
    }
    100% {
      transform: scaleY(1);
    }
  }

  @media screen and (min-width: 992px) {
    .menu-link:hover {
      text-shadow: 0 0 0.05rem gray;
    }

    .menu-link:after {
      content: '';
      position: absolute;
      width: 70%;
      height: 3px;
      bottom: 1rem;
      left: 15%;
      border-radius: 3rem;
      background-color: gray;
      transform: scaleX(0);
      transform-origin: bottom right;
      transition: transform 0.25s ease-out;
    }

    .menu-link:hover:after {
      transform: scaleX(1);
      transform-origin: bottom left;
    }
  }
}

.search {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: end;
  padding: 0rem 1rem;
  border: 0.05rem solid transparent;
  border-radius: 10rem;
  transition: border 0.2s ease-out;
  color: rgb(255, 255, 255, 0.55);

  .search-icon {
    width: 1.5rem;
    height: 1.5rem;
    display: inline-block;
    transition: 0.4s ease-out;
    cursor: pointer;
  }

  .search-bar {
    opacity: 0%;
    width: 0%;
    display: inline-block;
    border: 0;
    background-color: transparent;
    transition: 0.4s ease-out;
  }

  &.shown {
    border: 0.05rem solid rgb(255, 255, 255, 0.55);

    .search-bar {
      opacity: 100%;
      width: 100%;
    }

    .search-bar:focus {
      box-shadow: none;
      background-color: transparent;
    }
  }
}

.login {
  color: rgb(255, 255, 255, 0.55);
  text-wrap: nowrap;

  .button-login {
    background-color: #960019;
    border: none;

    &:hover {
      background-color: #560714;
    }

    &:active {
      background-color: #40030d !important;
    }

    &:focus-visible {
      box-shadow: none;
    }
  }
}

@media screen and (max-width: 576px) {
  .nav-row {
    width: 100vh !important;
  }

  .menu {
    justify-content: end;
  }

  .nav-menu {
    background-color: #960019;
    width: 100vw;
    height: 100vh;
    position: absolute;
    z-index: 1000;
    display: none;
    justify-content: center;

    &.open {
      display: flex;
    }

    .nav-menu-dropdown {
      display: flex;
      flex-direction: column;
      color: white;
      justify-content: center;
      align-items: center;

      > a {
        padding: 1rem;
        font-family: 'Bebas Neue', sans-serif;
        font-size: 1.5rem;
        transition: transform 0.3s ease-in-out;
      }

      .button-login,
      .button-search {
        margin: 1rem auto;
        border: none;
        background-color: white;
        color: #960019;

        &:hover {
          background-color: white;
          color: #960019;
        }

        &:active {
          background-color: #40030d !important;
        }

        &:focus-visible {
          box-shadow: none;
        }
      }
    }
  }

  .search {
    border: 0.05rem solid rgb(255, 255, 255, 0.55);
    margin: 1rem auto;

    .search-bar {
      opacity: 100%;
      width: 100%;
      color: rgb(255, 255, 255, 0.55);

      &::placeholder {
        color: rgb(255, 255, 255, 0.55);
      }

      &:focus {
        color: rgb(255, 255, 255, 0.55);
      }
    }

    .search-bar:focus {
      box-shadow: none;
      background-color: transparent;
    }
  }
}
