.modal-dialog {
  justify-content: center;

  .modal-content {
    background-color: #1f1f1f;
    width: auto;

    .modal-header {
      border-color: #960019;

      .btn-close {
        color: #960019;
        padding: 0.5rem !important;

        &:active,
        &:focus {
          outline: 0 !important;
          box-shadow: none;
        }
      }
    }

    .modal-body {
      > iframe {
        max-width: 50vw;
        max-height: 50vh;
      }
    }
  }
}

.trailer-title {
  color: white;
  font-family: 'Work Sans', sans-serif;
}
