.popup-image {
  width: 100%;
  height: 100%;
  max-height: 30vh;
  object-fit: cover;
  border-radius: inherit;
}

.btn-close {
  position: absolute;
  right: 1rem;
  top: 1rem;
  opacity: 100%;
}

.btn-see-more {
  border-radius: 2rem!important;
  width: 100%;
  background-color: #526D82!important;
}

.btn-see-more:hover {
  background-color: #334d61!important;
}