.background {
  background-color: #1f1f1f;

  .trending {
    background-color: #1f1f1f;
    padding: 2rem 0rem;
    font-family: 'Work Sans', sans-serif;

    .heading {
      color: white;
      margin-bottom: 1rem;

      > .title {
        margin-bottom: 1rem;
      }

      > h6 {
        cursor: pointer;
      }
    }

    .filter-button {
      background-color: #363636;
      border: 0;

      &.active {
        background-color: #960019;
      }

      &:active {
        background-color: #1a1a1a;
      }

      &:focus-visible {
        box-shadow: none;
      }
    }

    .trending-movie-list {
      padding-top: 1rem;

      &::-webkit-scrollbar {
        height: 0.4rem;
      }

      &::-webkit-scrollbar-track {
        position: absolute;
        background-color: transparent;
      }

      &::-webkit-scrollbar-thumb {
        background-color: rgba(150, 0, 25, 0);
        border-radius: 1rem;
      }

      &::-webkit-scrollbar-thumb:hover {
        background: #9db2bf;
      }

      .trending-movie-item {
        position: relative;
        border: 0;
        margin-bottom: 0.75rem;
        transform: translateY(0.25rem);
        transition: transform 0.3s ease-out;
        border-radius: 0;
        height: 15rem;

        .trending-movie-image {
          height: inherit;
          width: auto;
          object-fit: cover;
          cursor: pointer;
          border-radius: inherit;
        }
      }

      .trending-movie-item:hover {
        box-shadow: 0.2rem 0.2rem 1rem black;
        transform: translateY(-0.25rem);
        transition: transform 0.3s ease-out;
      }

      .rating-icon {
        width: 1rem;
        margin-right: 0.5rem;
        color: #f9e076;
      }

      .trending-movie-rating {
        color: #dde6ed;
        opacity: 70%;
        font-weight: 300 !important;
      }

      .trending-movie-title {
        color: white;
        font-weight: 600 !important;
      }
    }

    .trending-movie-list:hover,
    .trending-movie-list:active {
      &::-webkit-scrollbar-thumb {
        background-color: rgba(150, 0, 25, 0.75);
      }
    }
  }
}

@media screen and (max-width: 576px) {
  .background {
    .trending {
      max-width: 90%;

      .trending-movie-list {
        .trending-movie-item {
          .trending-movie-image {
            height: 20rem;
          }
        }
      }
    }
  }
}
