.background {
  background-color: #1f1f1f;
  
  .trending {
    background-color: #1f1f1f;
    padding: 2rem 0rem;
    font-family: 'Work Sans', sans-serif;
  
    .title {
      color: white;
      margin-bottom: 1rem;
    }
  
    .trending-movie-list {
      overflow-x: hidden;
      flex-wrap: nowrap;
      padding-top: 1rem;

      .trending-movie-item {
        position: relative;
        border: 0;
        margin-bottom: 0.75rem;
        transform: translateY(0.25rem);
        transition: transform 0.3s ease-out;

        .trending-movie-image {
          height: 15rem;
          width: auto;
          object-fit: cover;
          cursor: pointer;
        }

        .play-button {
          position: absolute;
          width: 5rem;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          color: #526D82;
          fill-opacity: 50%;
          cursor: pointer;
          opacity: 0%;
        }
      }

      .trending-movie-item:hover {
        box-shadow: 0.2rem 0.2rem 1rem black;
        transform: translateY(-0.25rem);
        transition: transform 0.3s ease-out;

        .play-button {
          opacity: 100%;
          transition: opacity 0.3s ease-out;
        }
      }
      
      .rating-icon {
        width: 1rem;
        margin-right: 0.5rem;
        color: #DDE6ED;
        opacity: 70%;
      }

      .trending-movie-rating {
        color: #DDE6ED;
        opacity: 70%;
        font-weight: 500!important;
      }
      .trending-movie-title {
        color: #DDE6ED;
        font-weight: 600!important;
      }
    }

    .trending-movie-list:hover,
    .trending-movie-list:active {
      overflow-x: auto;
    }
  }
}

div.trending-movie-list::-webkit-scrollbar {
  height: 0.4rem;
  z-index: 1000;
}

div.trending-movie-list::-webkit-scrollbar-track {
  position: absolute;
  background: transparent;
}

div.trending-movie-list::-webkit-scrollbar-thumb {
  background: #9DB2BF;
  opacity: 50%;
  border-radius: 1rem;
}

div.trending-movie-list::-webkit-scrollbar-thumb:hover {
  background: #9DB2BF; 
}

@media screen and (max-width: 576px) {
  .background {
    .trending {
      max-width: 90%;
  
      .trending-movie-list {
        .trending-movie-item {
          .trending-movie-image {
            height: 20rem;
          }
        } 
      }
    }
  }
}