.upcoming-background {
  background-color: #1f1f1f;

  .upcoming {
    background-color: #1f1f1f;
    padding: 2rem 0rem;
    font-family: 'Work Sans', sans-serif;

    .heading {
      color: white;
      margin-bottom: 1rem;

      > .title {
        margin-bottom: 1rem;
      }
    }

    .filter-button {
      background-color: #363636;
      border: 0;

      &.active {
        background-color: #960019;
      }

      &:active {
        background-color: #1a1a1a;
      }

      &:focus-visible {
        box-shadow: none;
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .upcoming-background {
    .upcoming {
      max-width: 90%;
    }
  }
}
